flows - Automação Residencial.json
[{"id":"6e850f42.08b74","type":"tab","label":"Automação Residencial","disabled":false,"info":""},{"id":"8f9b62a9.ae4f3","type":"comment","z":"6e850f42.08b74","name":"Setando Temperatura","info":"Pegar dados do Ubidots\n","x":1100,"y":60,"wires":[]},{"id":"a63032c7.cf0b4","type":"comment","z":"6e850f42.08b74","name":"Setando Janela","info":"Pegar dados do Ubidots\n","x":1080,"y":760,"wires":[]},{"id":"b2f66a7e.58bb38","type":"mqtt out","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-","qos":"","retain":"","broker":"42732ebc.3c77d","x":1130,"y":140,"wires":[]},{"id":"6271b693.973488","type":"function","z":"6e850f42.08b74","name":"","func":"msg.payload = {\"janela\":{\"value\": msg.payload.value}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":840,"wires":[["720cd60.d1a6f2c","a0b03526.526328"]]},{"id":"149112ff.d8be2d","type":"comment","z":"6e850f42.08b74","name":"Setando Umidade","info":"Pegar dados do Ubidots\n","x":1090,"y":1020,"wires":[]},{"id":"280fd8fd.320418","type":"comment","z":"6e850f42.08b74","name":"Setando Vazamento de Gás","info":"Pegar dados do Ubidots\n","x":1120,"y":400,"wires":[]},{"id":"469a50f4.c26f1","type":"function","z":"6e850f42.08b74","name":"","func":"//https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Math/random\nif (flow.get(\"umidade_real\")){\n    msg.payload = {\"umidade\":{\"value\": msg.payload.value}};\n} else {\n    msg.payload.value = Math.ceil(Math.random()*100)\n    msg.payload = {\"umidade\":{\"value\": msg.payload.value}};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1060,"wires":[["cdbfa9c0.005b18","b22927ab.bae598"]]},{"id":"8f56ccd.b8b1c3","type":"mqtt in","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-/umidade-slider","qos":"2","datatype":"json","broker":"42732ebc.3c77d","x":410,"y":1060,"wires":[["469a50f4.c26f1"]]},{"id":"4487e4e3.b7588c","type":"mqtt out","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-","qos":"","retain":"","broker":"42732ebc.3c77d","x":1150,"y":1060,"wires":[]},{"id":"9f717bce.5410b8","type":"mqtt in","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-/gas-botao","qos":"2","datatype":"json","broker":"42732ebc.3c77d","x":400,"y":500,"wires":[["f8545047.4cf11","9f6281fd.9b9cd","6271b693.973488"]]},{"id":"f8545047.4cf11","type":"function","z":"6e850f42.08b74","name":"","func":"msg.payload = {\"gas\":{\"value\": msg.payload.value}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":500,"wires":[["ad3d6e29.bbf53","a8c29d29.2b1db"]]},{"id":"dc61d28.f7ad13","type":"mqtt out","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-","qos":"","retain":"","broker":"42732ebc.3c77d","x":1150,"y":440,"wires":[]},{"id":"ea66c0ee.5a142","type":"comment","z":"6e850f42.08b74","name":"Setando Válvula ","info":"Pegar dados do Ubidots\n","x":1080,"y":580,"wires":[]},{"id":"ec850798.a294f8","type":"function","z":"6e850f42.08b74","name":"","func":"msg.payload = {\"valvula\":{\"value\": msg.payload.value}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":680,"wires":[["a88d9ab4.e45288","fd8c4086.156fc"]]},{"id":"71d6acde.e4a324","type":"function","z":"6e850f42.08b74","name":"","func":"//https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Math/random\nif (flow.get(\"temperatura_real\")){\n    msg.payload = {\"temperatura\":{\"value\": msg.payload.value}};\n} else {\n    let temp_max = 40;\n    let temp_min = -20;\n    msg.payload.value = Math.ceil(Math.random()*(temp_max-temp_min)+temp_min); //Math.random() 0.0 até 1.0\n    msg.payload = {\"temperatura\":{\"value\": msg.payload.value}};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["856d9190.511b6","9aa89f0d.92002"]]},{"id":"7ef99ee0.09005","type":"switch","z":"6e850f42.08b74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":260,"wires":[["580d68cc.4261e8"],["b296dd29.11d9c"]]},{"id":"580d68cc.4261e8","type":"change","z":"6e850f42.08b74","name":"","rules":[{"t":"set","p":"temperatura_real","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[[]]},{"id":"b296dd29.11d9c","type":"change","z":"6e850f42.08b74","name":"","rules":[{"t":"set","p":"temperatura_real","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":280,"wires":[[]]},{"id":"44f8fb89.4759f4","type":"switch","z":"6e850f42.08b74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":true,"outputs":2,"x":590,"y":1220,"wires":[["2238f602.784d6a"],["6204b20a.27151c"]]},{"id":"2238f602.784d6a","type":"change","z":"6e850f42.08b74","name":"","rules":[{"t":"set","p":"umidade_real","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1200,"wires":[[]]},{"id":"6204b20a.27151c","type":"change","z":"6e850f42.08b74","name":"","rules":[{"t":"set","p":"umidade_real","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1260,"wires":[[]]},{"id":"cdbfa9c0.005b18","type":"ui_gauge","z":"6e850f42.08b74","name":"","group":"de237a3d.2e7eb8","order":0,"width":"0","height":"0","gtype":"gage","title":"Umidade ambiente ","label":"%","format":"{{msg.payload.umidade.value}}","min":0,"max":"100","colors":["#b30000","#c8ff00","#00bfff"],"seg1":"25","seg2":"75","x":970,"y":1120,"wires":[]},{"id":"856d9190.511b6","type":"ui_gauge","z":"6e850f42.08b74","name":"","group":"3207b34a.7e6dec","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperatura ambiente ","label":"°C","format":"{{msg.payload.temperatura.value}}","min":"-20","max":"40","colors":["#0000ff","#00ff2a","#ff0000"],"seg1":"10","seg2":"30","x":980,"y":100,"wires":[]},{"id":"3a0fbeb7.1468d2","type":"ui_led","z":"6e850f42.08b74","order":1,"group":"d7ad03a4.890f1","width":"4","height":"4","label":"Estado da válvula","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#c9c9c9","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Válvula","x":1120,"y":680,"wires":[]},{"id":"975c15c4.6f5498","type":"ui_led","z":"6e850f42.08b74","order":2,"group":"9aee8b9b.bb0b78","width":"4","height":"4","label":"Estado da janela","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#c9c9c9","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Janela","x":1130,"y":860,"wires":[]},{"id":"7e575283.c408dc","type":"ui_led","z":"6e850f42.08b74","order":1,"group":"4443b92f.7a2948","width":"4","height":"4","label":"Estado de vazamento","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#c9c9c9","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Vazamento","x":1110,"y":500,"wires":[]},{"id":"791360.a5382ca","type":"comment","z":"6e850f42.08b74","name":"Gás","info":"","x":730,"y":380,"wires":[]},{"id":"61120d61.5fed24","type":"comment","z":"6e850f42.08b74","name":"Temperatura","info":"","x":750,"y":20,"wires":[]},{"id":"d8513fa.fefc4c","type":"comment","z":"6e850f42.08b74","name":"Umidade","info":"","x":740,"y":960,"wires":[]},{"id":"112e3c63.4ee254","type":"mqtt in","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-/valvula-botao","qos":"2","datatype":"json","broker":"42732ebc.3c77d","x":410,"y":680,"wires":[["ec850798.a294f8"]]},{"id":"37307141.f4cf7e","type":"mqtt in","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-/janela-botao","qos":"2","datatype":"json","broker":"42732ebc.3c77d","x":410,"y":840,"wires":[["6271b693.973488"]]},{"id":"3eb29a1a.7ab496","type":"mqtt out","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-","qos":"","retain":"","broker":"42732ebc.3c77d","x":1150,"y":620,"wires":[]},{"id":"d506dfbd.a832c","type":"mqtt out","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-","qos":"","retain":"","broker":"42732ebc.3c77d","x":1150,"y":800,"wires":[]},{"id":"34372599.53002a","type":"rpi-gpio in","z":"6e850f42.08b74","name":"","pin":"13","intype":"up","debounce":"25","read":false,"x":400,"y":200,"wires":[["7ef99ee0.09005"]]},{"id":"70f6b0b5.32b24","type":"rpi-gpio in","z":"6e850f42.08b74","name":"","pin":"13","intype":"up","debounce":"25","read":false,"x":380,"y":1140,"wires":[["44f8fb89.4759f4"]]},{"id":"5fb2be3f.be01a","type":"inject","z":"6e850f42.08b74","name":"Numero do Dashboard","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":340,"y":1200,"wires":[["44f8fb89.4759f4"]]},{"id":"81896d78.fd759","type":"inject","z":"6e850f42.08b74","name":"Numero aleatório ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":360,"y":1260,"wires":[["44f8fb89.4759f4"]]},{"id":"720cd60.d1a6f2c","type":"function","z":"6e850f42.08b74","name":"","func":"if(msg.payload.janela.value === 1){\n    msg.payload = true; \n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":860,"wires":[["975c15c4.6f5498"]]},{"id":"a88d9ab4.e45288","type":"function","z":"6e850f42.08b74","name":"","func":"if(msg.payload.valvula.value === 1){\n    msg.payload = true; \n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":680,"wires":[["3a0fbeb7.1468d2"]]},{"id":"ad3d6e29.bbf53","type":"function","z":"6e850f42.08b74","name":"","func":"if(msg.payload.gas.value === 1){\n    msg.payload = true; \n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":500,"wires":[["7e575283.c408dc"]]},{"id":"73d942a5.9b945c","type":"inject","z":"6e850f42.08b74","name":"Numero do Dashboard","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":360,"y":260,"wires":[["7ef99ee0.09005"]]},{"id":"db4ac7e.eb89338","type":"inject","z":"6e850f42.08b74","name":"Numero aleatório ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":380,"y":320,"wires":[["7ef99ee0.09005"]]},{"id":"9f6281fd.9b9cd","type":"function","z":"6e850f42.08b74","name":"","func":"if(msg.payload.value === 1){\n    msg.payload.value = 0; \n}else{\n    msg.payload.value = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":580,"wires":[["ec850798.a294f8"]]},{"id":"a0b03526.526328","type":"delay","z":"6e850f42.08b74","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":800,"wires":[["d506dfbd.a832c"]]},{"id":"fd8c4086.156fc","type":"delay","z":"6e850f42.08b74","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":620,"wires":[["3eb29a1a.7ab496"]]},{"id":"9adfb733.af3208","type":"mqtt in","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-/temperatura-slider","qos":"2","datatype":"json","broker":"42732ebc.3c77d","x":420,"y":140,"wires":[["71d6acde.e4a324"]]},{"id":"f894dfdd.6ffcb","type":"comment","z":"6e850f42.08b74","name":"Setando Temperatura","info":"Pegar dados do Ubidots\n","x":1120,"y":1460,"wires":[]},{"id":"50c56efa.8f523","type":"function","z":"6e850f42.08b74","name":"","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1520,"wires":[["31d2702e.fe83f"]]},{"id":"31d2702e.fe83f","type":"ui_gauge","z":"6e850f42.08b74","name":"","group":"3207b34a.7e6dec","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperatura ambiente DHT11","label":"°C","format":"{{msg.payload}}","min":"-20","max":"40","colors":["#0000ff","#00ff2a","#ff0000"],"seg1":"10","seg2":"30","x":970,"y":1520,"wires":[]},{"id":"53756200.bbccac","type":"comment","z":"6e850f42.08b74","name":"Temperatura","info":"","x":790,"y":1420,"wires":[]},{"id":"3bd5e150.05ca8e","type":"rpi-dht22","z":"6e850f42.08b74","name":"Sensor","topic":"rpi-dht11","dht":"11","pintype":"0","pin":"4","x":540,"y":1520,"wires":[["50c56efa.8f523","cf171c77.b00f8"]]},{"id":"9e40153e.3b0558","type":"inject","z":"6e850f42.08b74","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":1520,"wires":[["3bd5e150.05ca8e"]]},{"id":"e0bd28d.f608ed8","type":"comment","z":"6e850f42.08b74","name":"Setando Umidade","info":"Pegar dados do Ubidots\n","x":1110,"y":1640,"wires":[]},{"id":"33f5e050.119e5","type":"comment","z":"6e850f42.08b74","name":"Umidade","info":"","x":780,"y":1620,"wires":[]},{"id":"bba0ffb7.411de","type":"comment","z":"6e850f42.08b74","name":"SENSORIZANDO","info":"","x":790,"y":1340,"wires":[]},{"id":"7c586408.df688c","type":"rpi-dht22","z":"6e850f42.08b74","name":"Sensor","topic":"rpi-dht11","dht":"11","pintype":"0","pin":"4","x":540,"y":1680,"wires":[["b5598529.a63c88","e1a7a224.23de5"]]},{"id":"677874f8.7338bc","type":"ui_gauge","z":"6e850f42.08b74","name":"","group":"de237a3d.2e7eb8","order":0,"width":"0","height":"0","gtype":"gage","title":"Umidade ambiente DHT11","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#b30000","#c8ff00","#00bfff"],"seg1":"25","seg2":"75","x":960,"y":1680,"wires":[]},{"id":"4580d91e.755748","type":"mqtt out","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-com-sensores","qos":"","retain":"","broker":"42732ebc.3c77d","x":1190,"y":1720,"wires":[]},{"id":"b5598529.a63c88","type":"function","z":"6e850f42.08b74","name":"","func":"msg.payload = {\"umidade-dht11\":{\"value\": msg.humidity}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1720,"wires":[["426ddd55.ddf3c4"]]},{"id":"e1a7a224.23de5","type":"function","z":"6e850f42.08b74","name":"","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1680,"wires":[["677874f8.7338bc"]]},{"id":"cf171c77.b00f8","type":"function","z":"6e850f42.08b74","name":"","func":"msg.payload = {\"temperatura-dht11\":{\"value\": msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1560,"wires":[["ad29a6de.d75698"]]},{"id":"80364eed.d374","type":"mqtt out","z":"6e850f42.08b74","name":"","topic":"/v1.6/devices/automacao-residencial-com-sensores","qos":"","retain":"","broker":"42732ebc.3c77d","x":1190,"y":1560,"wires":[]},{"id":"a8c29d29.2b1db","type":"delay","z":"6e850f42.08b74","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":440,"wires":[["dc61d28.f7ad13"]]},{"id":"9aa89f0d.92002","type":"delay","z":"6e850f42.08b74","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":140,"wires":[["b2f66a7e.58bb38"]]},{"id":"b22927ab.bae598","type":"delay","z":"6e850f42.08b74","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":1060,"wires":[["4487e4e3.b7588c"]]},{"id":"ad29a6de.d75698","type":"delay","z":"6e850f42.08b74","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1560,"wires":[["80364eed.d374"]]},{"id":"426ddd55.ddf3c4","type":"delay","z":"6e850f42.08b74","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1720,"wires":[["4580d91e.755748"]]},{"id":"96191ac0.829018","type":"inject","z":"6e850f42.08b74","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":1680,"wires":[["7c586408.df688c"]]},{"id":"42732ebc.3c77d","type":"mqtt-broker","name":"","broker":"industrial.api.ubidots.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de237a3d.2e7eb8","type":"ui_group","name":"Umidade ","tab":"21d3770e.e61eb8","order":1,"disp":true,"width":"10","collapse":false},{"id":"3207b34a.7e6dec","type":"ui_group","name":"Temperatura","tab":"21d3770e.e61eb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d7ad03a4.890f1","type":"ui_group","name":"Estado da Válvula","tab":"21d3770e.e61eb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"9aee8b9b.bb0b78","type":"ui_group","name":"Estado da Janela","tab":"21d3770e.e61eb8","order":6,"disp":true,"width":"6","collapse":false},{"id":"4443b92f.7a2948","type":"ui_group","name":"Estado de Vazamento","tab":"21d3770e.e61eb8","order":5,"disp":true,"width":"6","collapse":false},{"id":"21d3770e.e61eb8","type":"ui_tab","name":"Automação Residencial","icon":"fa-home","disabled":false,"hidden":false}]